

/** GLOBALS **/

html,body {
	height: 100%;
	margin: 0;
}


input[type="text"] {
	text-align: center;
}
	input[type="text"]::placeholder {
		text-align: center;
	}
.page-footer {
	padding: 0px;
}

.material-icons {
    opacity: 0.6;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
    color: black;
}

	.material-icons:hover {
	    opacity: 1.0;
	    transition: opacity .55s ease-in-out;
	    -moz-transition: opacity .55s ease-in-out;
	    -webkit-transition: opacity .55s ease-in-out;
	}​

.row {
	width: 100%;
	height: 100%;
}

#loading {
	display: none;
	width: 120px;
	height: 120px;
}

/** SEARCH PAGE **/
#index-banner {
	margin-top: 30px;
}

.search-wrapper {
	margin-top: 50px;
	min-height: 100%;
}

.search-results h4 {
	color: red;
}

#search {
	margin-bottom: 0 !important;
}

#filter_options {
	display: none;
}

#filter {
	cursor: pointer;
}

footer.page-footer {
	height: 50px;
}

.result-item p p {
	margin-top: 0;
}